.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../assets/wallpaper/init.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

}

.filtros{
  display: flex;
  flex-wrap: wrap;
  height: 5%;
  width: 100%;
  justify-content: center;
}

.corredores{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5%;
}

@keyframes rotate-hue634 {
  to {
    filter: hue-rotate(1turn);
  }
}

@keyframes glowing345 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width:10%;
  height: 100%;
  font-family: "stardew", fantasy ;
  font-weight: 500;
  font-size: 200%;
  cursor: pointer;
  position: relative;
  z-index: 0;
  color: rgb(255, 255, 255);
}

.bn4::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  animation-play-state: running;
}

.bn4::before {
  content: "";
  background: linear-gradient(
    45deg,
    #07d888, #e40851, #2f00ff, #00ff37,
      #ec0808, #2600ff, #0bd157, #2f00ff
);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing345 20s linear infinite;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.bn4:hover::before {
  opacity: 1;
}

.bn4active:after {
  background: transparent;
  animation-play-state: running;
}

.bn4:active {
  color: #000;
  font-weight: bold;
  animation-play-state: running;
}

.pagination{
  display: flex;
  flex-wrap: wrap;
  height: 5%;
  width: 100%;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 1%;

}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #434343;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination button.active {
  background-color: #191919;
  color: #ff0000;
  border: 1px solid #007bff;
}

.pagination span {
  margin: 0 5px;
}

@media(max-width: 950px){
  .bn4 {
    font-size: 150%;
  }
}

@media(max-width: 720px){
  .bn4 {
    font-size: 120%;
  }
}

@media(max-width: 620px){
  .bn4 {
    font-size: 100%;
  }
}

@media(max-width: 520px){
  .corredores{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
}



