@font-face {
    font-family: "stardew";
    src: url(../../assets/fonts/Stardew.ttf);
}

.card {
    position: relative;
    width: 15%;
    height: 40%;
    background-color: #180079;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .cardContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #000000;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .cardContent {
    transform: rotateX(0deg);
  }
  
  .cardTitle {
    font-family: "stardew", fantasy;
    margin: 0;
    font-size: 300%;
    color: red;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .cardDescription {
    margin: 10px 0 0;
    font-size: 110%;
    color: #ffffff;
    line-height: 1.4;
  }
  

img{ height: 100%;
width: 100%;}

.button{color: red;
  box-shadow: 0px 0px 10px 10px white;
  margin-top: 10%;
  }
  
  .button:hover{color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 10px rgb(255, 0, 0);
    cursor: pointer;
    }

    @media(max-width:950px){
      .cardTitle {
        font-size: 150%;
      }
      .cardDescription {
        font-size: 80%;
      }
    }
    
    @media(max-width:720px){
    
      .card {
        width: 20%;
        height: 30%;
      }
    }
    
    @media(max-width:520px){
      .cardTitle {
        font-size: 150%;
      }
      .cardDescription {
        font-size: 80%;
      }
    
      .card {
        width: 40%;
        height: 15%;
      }
    }